@media only screen and (max-width: 1023px) {
  /* HEADER  */

  .logo-desktop img {
    max-width: 13.8rem;
    height: auto;
  }

  .top-desktop {
    padding: 0 4rem;
  }

  .top-desktop .menu-menu-principal-container {
    display: none;
  }

  .menu-toggle,
  .menu-toggle-close {
    display: inline-block;
  }

  .menu-toggle .burger {
    display: inline-block;
    width: 27.42px;
    height: 18.85px;
    background-image: url(/wp-content/themes/mota/assets/images/burger.png);
    background-size: cover;
  }

  .menu-toggle-close .cross {
    display: inline-block;
    width: 21.92px;
    height: 18.64px;
    background-image: url(/wp-content/themes/mota/assets/images/cross.png);
    background-size: cover;
  }

  .menu-open.active {
    opacity: 0;
  }

  .menu-mobile.active {
    z-index: 999;
    top: 0;
    left: 0;
  }

  /* FOOTER  */

  .site-footer {
    height: 20rem;
    background-color: white;
    border-top: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #footer-menu {
    display: flex;
    flex-direction: column;
  }

  #footer-menu li {
    margin: 1rem 0rem;
    text-align: center;
  }

  /*********** HOME ***********/

  /* HERO  */

  .img-hero {
    height: 30vh;
  }

  .title-hero {
    font-size: 2.8rem;
    -webkit-text-stroke: 0.5px white;
  }

  /* FILTER  */

  .dropdown-container {
    overflow-x: scroll;
  }

  .dropdown-container::-webkit-scrollbar {
    display: none;
  }

  .dropdown {
    padding: 0 4rem;
    margin: 4rem 0;
  }

  .categories-dropdown {
    margin-right: 1rem;
  }

  .formats-dropdown {
    margin-right: 1rem;
  }

  /* GALLERY  */

  .gallery {
    padding: 0 4rem;
  }

  .items-gallery {
    gap: 4rem;
  }

  .item-gallery {
    width: 100%;
    height: 300px;
  }

  /*********** SINGLE ***********/

  .singlecontainer {
    padding: 0 4rem;
  }

  .singlecontent {
    flex-direction: column-reverse;
  }

  .singlecontent .right-single {
    width: 100%;
  }

  .singlecontent .left-single {
    width: 100%;
    padding-bottom: 2rem;
  }

  .singlecontact .right-single {
    display: none;
  }

  .singlecontact .left-single {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .singlecontact .left-single p {
    margin-bottom: 2rem;
  }

  .singlegallery {
    text-align: center;
  }

  .singlegallery .load-btn-container {
    display: none;
  }

  .singlegallery h2 {
    margin: 3rem 0;
  }

  /* MODALE DE CONTACT  */

  .modal-container {
    width: 80%;
  }

  .title-scroll {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .title-scroll p {
    font-size: 4rem;
    line-height: 4rem;
  }
}
